In [ ]:
import pandas as pd
data=pd.read_csv('DATASET(MISSING).csv')
data

,EMP ID,ENAME,EAGE,GENDER,DOMAIN,PROJECTS,DESIGNATION,EXPERIENCE,SALARY
0,1,SAI TEJA,22.0,MALE,CSE,2.0,DATA ANALYST,2.0,4.0
1,2,NAVEEN,34.0,MALE,CSE,3.0,DATA ANALYST,3.0,5.0
2,3,HARSHA,44.0,MALE,CSE,4.0,DATA ANALYST,4.0,2.0
3,4,TANUJ,22.0,MALE,CSE,2.0,DATA ANALYST,2.0,6.0
4,5,KARTHIK,23.0,MALE,CSE,3.0,DATA ANALYST,3.0,7.0
5,6,ARAVIND,43.0,MALE,CSE,1.0,DATA ANALYST,2.0,8.0
6,7,CHARVITHA,43.0,FEMALE,CSE,2.0,DATA ANALYST,3.0,6.0
7,8,RAKSHITHA,23.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,5.0
8,9,ANUSHKA,22.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,7.0
9,10,PRABHAS,21.0,MALE,CSE,4.0,DATA ANALYST,2.0,9.0
10,11,RAVI,22.0,MALE,CSE,NaN,DATA ANALYST,3.0,16.0
11,12,LAHARI,NaN,FEMALE,CSE,5.0,DATA ANALYST,3.0,NaN
12,13,NIBBI,33.0,NaN,CSE,3.0,DATA ANALYST,3.0,NaN
13,14,LANJAY,3.0,MALE,CSE,2.0,DATA ANALYST,3.0,NaN
14,15,MUNDA,23.0,MALE,CSE,NaN,DATA ANALYST,3.0,21.0
15,16,MRUNALD,54.0,NaN,CSE,NaN,DATA ANALYST,NaN,23.0
16,17,PAHARI,67.0,NaN,CSE,2.0,DATA ANALYST,3.0,34.0
17,18,LAHAA,43.0,FEMALE,CSE,NaN,DATA ANALYST,2.0,22.0
18,19,THOSHHH,32.0,MALE,CSE,4.0,NaN,1.0,NaN
19,20,AKSHAYA,12.0,NaN,CSE,4.0,DATA ANALYST,2.0,NaN
20,21,AKSHAY,43.0,MALE,CSE,NaN,DATA ANALYST,NaN,10.0
21,22,NIKITHA,23.0,FEMALE,CSE,NaN,DATA ANALYST,NaN,21.0
22,23,MUNDAMURALI,NaN,MALE,CSE,3.0,DATA ANALYST,4.0,7.0
23,24,NIBBA,NaN,MALE,CSE,2.0,DATA ANALYST,3.0,4.0
24,25,PAWANKALYAN,NaN,NaN,CSE,2.0,DATA ANALYST,NaN,3.0

In [ ]:
data.isnull().sum()

EMP ID         0
ENAME          0
EAGE           4
GENDER         5
DOMAIN         0
PROJECTS       6
DESIGNATION    1
EXPERIENCE     4
SALARY         5
dtype: int64

In [ ]:
data.dropna()

,EMP ID,ENAME,EAGE,GENDER,DOMAIN,PROJECTS,DESIGNATION,EXPERIENCE,SALARY
0,1,SAI TEJA,22.0,MALE,CSE,2.0,DATA ANALYST,2.0,4.0
1,2,NAVEEN,34.0,MALE,CSE,3.0,DATA ANALYST,3.0,5.0
2,3,HARSHA,44.0,MALE,CSE,4.0,DATA ANALYST,4.0,2.0
3,4,TANUJ,22.0,MALE,CSE,2.0,DATA ANALYST,2.0,6.0
4,5,KARTHIK,23.0,MALE,CSE,3.0,DATA ANALYST,3.0,7.0
5,6,ARAVIND,43.0,MALE,CSE,1.0,DATA ANALYST,2.0,8.0
6,7,CHARVITHA,43.0,FEMALE,CSE,2.0,DATA ANALYST,3.0,6.0
7,8,RAKSHITHA,23.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,5.0
8,9,ANUSHKA,22.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,7.0
9,10,PRABHAS,21.0,MALE,CSE,4.0,DATA ANALYST,2.0,9.0

In [ ]:
data.fillna(method='bfill')

/tmp/ipython-input-1397359497.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='bfill')

,EMP ID,ENAME,EAGE,GENDER,DOMAIN,PROJECTS,DESIGNATION,EXPERIENCE,SALARY
0,1,SAI TEJA,22.0,MALE,CSE,2.0,DATA ANALYST,2.0,4.0
1,2,NAVEEN,34.0,MALE,CSE,3.0,DATA ANALYST,3.0,5.0
2,3,HARSHA,44.0,MALE,CSE,4.0,DATA ANALYST,4.0,2.0
3,4,TANUJ,22.0,MALE,CSE,2.0,DATA ANALYST,2.0,6.0
4,5,KARTHIK,23.0,MALE,CSE,3.0,DATA ANALYST,3.0,7.0
5,6,ARAVIND,43.0,MALE,CSE,1.0,DATA ANALYST,2.0,8.0
6,7,CHARVITHA,43.0,FEMALE,CSE,2.0,DATA ANALYST,3.0,6.0
7,8,RAKSHITHA,23.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,5.0
8,9,ANUSHKA,22.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,7.0
9,10,PRABHAS,21.0,MALE,CSE,4.0,DATA ANALYST,2.0,9.0
10,11,RAVI,22.0,MALE,CSE,5.0,DATA ANALYST,3.0,16.0
11,12,LAHARI,33.0,FEMALE,CSE,5.0,DATA ANALYST,3.0,21.0
12,13,NIBBI,33.0,MALE,CSE,3.0,DATA ANALYST,3.0,21.0
13,14,LANJAY,3.0,MALE,CSE,2.0,DATA ANALYST,3.0,21.0
14,15,MUNDA,23.0,MALE,CSE,2.0,DATA ANALYST,3.0,21.0
15,16,MRUNALD,54.0,FEMALE,CSE,2.0,DATA ANALYST,3.0,23.0
16,17,PAHARI,67.0,FEMALE,CSE,2.0,DATA ANALYST,3.0,34.0
17,18,LAHAA,43.0,FEMALE,CSE,4.0,DATA ANALYST,2.0,22.0
18,19,THOSHHH,32.0,MALE,CSE,4.0,DATA ANALYST,1.0,10.0
19,20,AKSHAYA,12.0,MALE,CSE,4.0,DATA ANALYST,2.0,10.0
20,21,AKSHAY,43.0,MALE,CSE,3.0,DATA ANALYST,4.0,10.0
21,22,NIKITHA,23.0,FEMALE,CSE,3.0,DATA ANALYST,4.0,21.0
22,23,MUNDAMURALI,NaN,MALE,CSE,3.0,DATA ANALYST,4.0,7.0
23,24,NIBBA,NaN,MALE,CSE,2.0,DATA ANALYST,3.0,4.0
24,25,PAWANKALYAN,NaN,NaN,CSE,2.0,DATA ANALYST,NaN,3.0

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer=SimpleImputer(strategy="median")
data[['PROJECTS','EXPERIENCE','SALARY','EAGE']]=imputer.fit_transform(data[['PROJECTS','EXPERIENCE','SALARY','EAGE']])

In [ ]:
data

,EMP ID,ENAME,EAGE,GENDER,DOMAIN,PROJECTS,DESIGNATION,EXPERIENCE,SALARY
0,1,SAI TEJA,22.000000,MALE,CSE,2.000000,DATA ANALYST,2.0,4.0
1,2,NAVEEN,34.000000,MALE,CSE,3.000000,DATA ANALYST,3.0,5.0
2,3,HARSHA,44.000000,MALE,CSE,4.000000,DATA ANALYST,4.0,2.0
3,4,TANUJ,22.000000,MALE,CSE,2.000000,DATA ANALYST,2.0,6.0
4,5,KARTHIK,23.000000,MALE,CSE,3.000000,DATA ANALYST,3.0,7.0
5,6,ARAVIND,43.000000,MALE,CSE,1.000000,DATA ANALYST,2.0,8.0
6,7,CHARVITHA,43.000000,FEMALE,CSE,2.000000,DATA ANALYST,3.0,6.0
7,8,RAKSHITHA,23.000000,FEMALE,CSE,3.000000,DATA ANALYST,4.0,5.0
8,9,ANUSHKA,22.000000,FEMALE,CSE,3.000000,DATA ANALYST,4.0,7.0
9,10,PRABHAS,21.000000,MALE,CSE,4.000000,DATA ANALYST,2.0,9.0
10,11,RAVI,22.000000,MALE,CSE,2.842105,DATA ANALYST,3.0,16.0
11,12,LAHARI,31.047619,FEMALE,CSE,5.000000,DATA ANALYST,3.0,7.0
12,13,NIBBI,33.000000,NaN,CSE,3.000000,DATA ANALYST,3.0,7.0
13,14,LANJAY,3.000000,MALE,CSE,2.000000,DATA ANALYST,3.0,7.0
14,15,MUNDA,23.000000,MALE,CSE,2.842105,DATA ANALYST,3.0,21.0
15,16,MRUNALD,54.000000,NaN,CSE,2.842105,DATA ANALYST,3.0,23.0
16,17,PAHARI,67.000000,NaN,CSE,2.000000,DATA ANALYST,3.0,34.0
17,18,LAHAA,43.000000,FEMALE,CSE,2.842105,DATA ANALYST,2.0,22.0
18,19,THOSHHH,32.000000,MALE,CSE,4.000000,NaN,1.0,7.0
19,20,AKSHAYA,12.000000,NaN,CSE,4.000000,DATA ANALYST,2.0,7.0
20,21,AKSHAY,43.000000,MALE,CSE,2.842105,DATA ANALYST,3.0,10.0
21,22,NIKITHA,23.000000,FEMALE,CSE,2.842105,DATA ANALYST,3.0,21.0
22,23,MUNDAMURALI,31.047619,MALE,CSE,3.000000,DATA ANALYST,4.0,7.0
23,24,NIBBA,31.047619,MALE,CSE,2.000000,DATA ANALYST,3.0,4.0
24,25,PAWANKALYAN,31.047619,NaN,CSE,2.000000,DATA ANALYST,3.0,3.0